.small-chart {
    -fx-padding: 10px;
}
.small-chart .small-chart-line-box {
    /*-fx-padding: 10px;*/
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.1);
}

.small-chart .small-chart-legends {
    -fx-padding: 4px;
    -fx-spacing: 4px;
}

.small-chart .small-chart-line {
    -fx-stroke-width: 2px;
}

.small-chart .small-chart-line-symbol {
    /*-fx-border-color: red;*/
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-width: 2px;
    -fx-padding: 4px;
    -fx-border-radius: 4px;
}
