.colored-text-field .colored-label .text-flow {
    -fx-padding: 4.3px 7.6px;
}

.colored-text-field .text-field .text {
    -fx-opacity: 0.0;
}

.colored-text-field .colored-label .text-flow * {
    -fx-fill: -fx-text-inner-color;
}