.split-pane {
    /*-fx-background-color: #f4f4f4;*/
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-background-insets: 0px;
}

.split-pane .split-pane-handle {
    -fx-min-width: 10px;
    -fx-border-width: 0 1px 0 0px;
    /*-fx-border-insets: 0 1;*/
    -fx-border-color: rgba(0, 0, 0, 0.15);
}

.split-pane .split-pane-handle:hover {
    -fx-border-color: -fx-focus-color;
    -fx-cursor: h_resize;
}

/*.split-pane .split-pane-handle {*/
/*    -fx-padding: 0px 5px;*/
/*    -fx-cursor: h_resize;*/
/*}*/

/*.split-pane .split-pane-handle .handle {*/
/*    -fx-min-width: 2px;*/
/*    -fx-border-width: 0 1px 0 0px;*/
/*    -fx-border-insets: 0 1;*/
/*    -fx-border-color: rgba(0, 0, 0, 0.15);*/
/*}*/

/*.split-pane .split-pane-handle:hover .handle {*/
/*    -fx-border-color: -fx-focus-color;*/
/*}*/


