.better-table {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-background-color: white;
}

.better-table .header {
    /*-fx-background-color: rgba(0, 0, 0, 0.15);*/
    /*-fx-border-width: 2px;*/
}

.better-table .header .header-column {
    /*-fx-background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0.05) 100%);*/

    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
}

/*.better-table .header .header-column .content {*/
/*}*/

.better-table .header .header-column .background {
    -fx-padding: 4px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0.05) 100%);
}

.better-table .header .header-column:readonly .background {
    -fx-background-color: linear-gradient(to bottom, rgba(70, 70, 70, 0.1) 0%, rgba(230, 230, 230, 0.3) 30%, rgba(70, 70, 70, 0.1) 100%);
}

.better-table .header .header-column:readonly .text {
    -fx-fill: rgba(0, 0, 0, 0.7);
}

.better-table .header .header-column:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: -fx-focus-border;
}

.better-table .footer {
    /*-fx-background-color: rgba(0, 0, 0, 0.15);*/
    /*-fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));*/
    /*-fx-border-width: 2px;*/
}

.better-table .footer .footer-column {
    -fx-border-width: 1px 1px 0px 0px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
}

.better-table .footer .footer-column .background {
    -fx-padding: 4px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0.05) 100%);
}

.better-table .footer .footer-column:readonly .text {
    -fx-fill: rgba(0, 0, 0, 0.7);
}

.better-table .footer .footer-column:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: -fx-focus-border;
}



.better-table .rows-scroll-pane {
    /*https://jojorabbitjavafxblog.wordpress.com/2011/07/11/javafx-2-0-css-styling-part-1/*/
    /*-fx-background-color: green, red, blue;*/
    -fx-padding: 0px;
    -fx-background-insets: 0;
}

/*.better-table .rows-scroll-pane:focused {*/
/*    -fx-background-insets: 3px 3px 3px 3px;*/
/*}*/

/*.better-table .rows-scroll-pane:focused {*/
/*    -fx-border-color: yellow;*/
/*}*/

/*.better-table .scroll-pane .rows {*/
/*    -fx-border-width: 0px;*/
/*}*/

.better-table .rows {
    -fx-background-color: white;
}

.better-table .rows .row {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
}

.better-table .rows .row:even {
    -fx-background-color: rgba(0, 0, 0, 0.03);
}

.better-table .rows .row:hover {
    -fx-background-color: rgba(0, 0, 0, 0.06);
}

.better-table .rows .row:hover:even {
    -fx-background-color: rgba(0, 0, 0, 0.09);
}


.better-table .rows .row-insert-top, .better-table .rows .row-insert-bottom {
    /*-fx-border-color: red;*/
    /*-fx-border-width: 1px;*/
    -fx-min-height: 2px;
    -fx-background-color: -fx-focus-color;
}

.better-table .rows .row-insert-top:hover, .better-table .rows .row-insert-bottom:hover {
    -fx-min-height: 8px;
}

.cell {
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 0px  1px 0px 0px;
    /*-fx-background-color: skyblue, derive(skyblue, 25%), derive(skyblue, 50%), derive(skyblue, 75%); !* set background to skyblue *!*/
    /*-fx-background-insets: 20, 40, 60, 80;*/
    /*-fx-background-radius: 20 0 0 0, 0 20 0 0, 0 0 20 0, 0 0 0 20;*/
    /*-fx-border-color: red, yellow, green, blue; !* set border to red*!*/
    /*-fx-border-insets: 20, 40, 60, 80;*/
    /*-fx-border-radius: 20 0 0 0, 0 20 0 0, 0 0 20 0, 0 0 0 20;*/
    /*-fx-border-width: 3; !* border width 3px *!*/

}

.cell .background .label {
    -fx-padding: 0px 4px 0px 4px;
}

/*.cell .background .text-field {*/
/*    -fx-padding: 0px 0px 0px 0px;*/
/*}*/

.cell:readonly .background {
    -fx-background-color: rgba(230, 230, 230, 0.5);
}

.cell:readonly .text {
    -fx-fill: rgba(0, 0, 0, 0.7);
}

.cell:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border: -fx-focus-border;
    -fx-border-width: 1px;
}

/*.better-table .slim-footer {*/
/*    -fx-background-color: rgba(0, 0, 0, 0.15);*/
/*    -fx-border-width: 2px;*/
/*}*/

/*.better-table .slim-footer:focused {*/
/*    -fx-border-color: -fx-focus-color;*/
/*    -fx-border-width: -fx-focus-border;*/
/*}*/